@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

body {
    height: 100vh;
    background: linear-gradient(180deg, #B068E9 0%, #6463E7 100%);
    font-family: Kumbh Sans;
    box-sizing: content-box;
    overflow-y: hidden;
}

h1, h2, h3 {
    text-align: left;
    color: #1E1F36;}

h1 {
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
}

h2 {
    font-size: 16.5px;
    font-weight: 400;
}

h3 {
    font-size: 14px;
    font-weight: 400;
}

section {
    display: flex;
    flex-direction: column;
    margin-top: 2.5rem;
    margin-right: 6rem;
    width: 400px;
}

article {
    border-bottom: 0.5px solid #E8E8EA;
    padding: 18px 0 18px 0;
    cursor: pointer;
    z-index: 2;
}

.arrow {
    float: right;
    padding-top: 8px;
}

article:hover {
    color: #F47B56;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    position: relative;
    width: 60rem;
    height: 31.813rem;
    background: #FFFFFF;
    box-shadow: 0px 50px 50px -20px rgba(53, 18, 122, 0.497159);
    border-radius: 23px;
    margin:auto;
    top: 6.125rem;
    left: 0.8rem;
}

/* do ilustracji */

.illustration {
    position: absolute;
    transform: translate(-3.3%, 0%);
    width: 100%;
    height: 100%;
    z-index: 0;
}

.package {
    position: absolute;
    z-index: 1;
    transform: translate(-426.5%, 115%);
}

.answer {
    position: relative;
    overflow: hidden;
    max-height: 0;
}

.answer > h3 {
    display: block;
    line-height: 20px;
}