@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
h1, h2, h3 {
  text-align: left;
  color: #1E1F36;
}

h1 {
  font-size: 32px;
  font-weight: 700;
}

h2 {
  font-size: 16px;
  font-weight: 400;
}

h3 {
  font-size: 14px;
  font-weight: 400;
}

body {
  background: linear-gradient(180deg, #B068E9 0%, #6463E7 100%);
  color: #1E1F36;
  font-family: Kumbh Sans;
  height: 100vh;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}

hr {
  border-top: 0.5px solid #E8E8EA;
}

.box {
  position: absolute;
  width: 57.5rem;
  height: 31.813rem;
  background: url(./../../assets/illustration.svg);
  background-position: -30px;
  background-color: #FFFFFF;
  box-shadow: 0px 50px 50px -20px #341278;
  border-radius: 23px;
  top: 50%;
  right: 49%;
  transform: translate(50%, -50%);
}

.illustration__package {
  position: absolute;
  top: 57.5%;
  left: -21%;
  transform: translate(50%, -50%);
}

.box__faq {
  position: absolute;
  left: 50%;
  display: flex;
  flex-direction: column;
  margin-top: 2.5rem;
  width: 400px;
}

.faq__item {
  padding: 18px 0 18px 0;
  cursor: pointer;
}

.faq__item:hover {
  color: #F47B56;
}

.faq__question {
  position: relative;
}

.faq__arrow {
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translate(-50%);
  transition: 0.5s;
}

.faq__answer {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: 0.5s;
}

.question__with-answer .faq__arrow {
  transform: rotate(180deg);
  transform-origin: center center;
}

.question__with-answer .faq__answer {
  height: 100px;
}